---
---

@import "{{ site.theme }}";
.mbtablestyle {
   border-collapse: collapse;
   > table, td, th {
        border: 1px solid white;
        }
}

#photome {
  width: 15%;
  float: left;
}


@media (max-width: 600px){
  #photome {
    width: 30%;
  }
}
